*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background-color: #f3f6f8;
    /*background-color: #c4c3c5;*/
}

.wrapper{
    margin: 0 auto;
    width: 1200px;
}
a{
    text-decoration: none;
}

.clearfix:before,.clearfix:after
{
    content: '';
    display: table;
}

.clearfix:after{
    clear: both;
}

ul{
    list-style: none;
}


/*相同的导航*/
.header{
    position: relative;
    height: 42px;
    /*background-color: pink;*/
    margin-top: 30px;
    margin-bottom: 30px;
}
.header h1 span{
    height: 42px;

    font-size: 30px;
    font-weight: 700;
    color: #0aa4e5;
    line-height: 42px;
    vertical-align:top;
    font-family: NSimSun;
}

.header h1{
    float: left;
}

.nav{
    margin-left: 63px;
    float: left;
    height: 42px;
    /*background-color: skyblue;*/
}
.nav li{
    float: left;
    margin-right: 26px;
}

.nav li a{
    display: inline-block;
    height: 42px;
    line-height: 42px;
    padding: 0 9px;
    /*border: 2px solid #000;*/

    font-size: 18px;
    color: #050505;
}

.nav li a:hover{
    border-bottom: 2px solid #00a4ff;
}
.search{
    float: left;
    margin-left: 56px;
    width: 402px;
    height: 42px;
    border: 1px solid #00a4ff;
    line-height: 42px;
}

.search input{
    float: left;
    padding-left: 20px;
    width: 350px;
    height: 40px;
    border: 0;
    vertical-align: middle;
}

.search input::placeholder{
    font-size: 14px;
    font-style: italic;
    color: #bfbfbf;
}

.search button{
    position: absolute;
    left: 74px;
    top: 1px;
    width: 50px;
    height: 40px;
    background-image: url('./img/sousuo.jpg');
    vertical-align: middle;
}
.search button a{
    float: left;
    width: 50px;
    height: 40px;
}

.user{
    float: right;
    margin-right: 25px;
    line-height: 34px;
}
.user img{
    line-height: 42px;
    vertical-align: middle;
}

.user span{
    font-size:11px;
    line-height:42px ;
    vertical-align: middle;
}
.choicebank{
    /*display: none;*/
    position: absolute;
    left:917px;
    top: 0px;
    width: 190px;
    height: 130px;
    /*background-color: pink;*/
    font-size: 15px;

}

.choiceul{
    display: none;
    padding-top: 0;
    display: none;
    position: absolute;
    top: 41px;
    height: 86px;
    width: 190px;
    /*background-color: skyblue;*/
}

.choicebank li{
    /*display: none;*/
    position: relative;
    float: left;
    height: 18px;
    width: 80px;

    font-family: 仿宋;

}

.choicebank li span{
    position: absolute;
    height: 16px;
    width: 70px;
    color: black;
    text-align: center;
    line-height: 16px;
}

.choicebank li span:hover{
    cursor: pointer;
}
