.mainPage{
    position: relative;
    height: 600px;
    /*background-color: skyblue;*/
    margin-top: 60px;
}

.bigWord{
    position: relative;
    padding-top: 75px;
    padding-left: 70px;
    font-size: 65px;
    font-family: Helvetica;
    font-weight: 700;
    letter-spacing:10px;
    color: #41424d;
    height: 200px;
}

.smallWord{
    position: absolute;
    padding-top: 10px;
    display: block;
    font-size: 20px;
    letter-spacing:2px;
    font-weight: 400;

}

.mainPage .img{
    position: absolute;
    top:20px;
    left: 681px;
    height: 600px;
    width: 500px;
    background-image: url('../img/lucky2.png');
    background-repeat: no-repeat;
    opacity: .6;
}

.mainPage .box1{
    position: absolute;
    top: 380px;
    left: 55px;
    height: 240px;
    width: 330px;
    background-color: #ff4000;
    text-align: center;
    /*line-height: 240px;*/
    font-size: 26px;
    font-family: 仿宋;
}
#box1{
    padding-top: 95px;
    height: 55px;
    width: 330px;
}
.mainPage .box2 {
    position: absolute;
    top: 380px;
    left: 435px;
    height: 240px;
    width: 330px;
    background-color: #3fb4fe;

    text-align: center;
    /*line-height: 240px;*/
    font-size: 22px;
    font-family: 楷体;
}

.smallBox2{
    padding-top: 100px;
    height: 50px;
    width: 330px;

}

#smallBox3{
    text-align: center;
}


.mainPage .box3{
    position: absolute;
    top:380px;
    left: 815px;
    height: 240px;
    width: 330px;
    background-color: #676778;

    text-align: center;
    /*line-height: 240px;*/
    font-size: 22px;
    font-family: 仿宋;
}

#classschedule{
    position: absolute;
    top: 727px;
    left: 175px;
    padding-top: 50px;

}
